<div id="<%= dom_id cookbook %>">
  <p class="my-5">
    <strong class="block font-medium mb-1">Name:</strong>
    <%= cookbook.name %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Description:</strong>
    <%= cookbook.description %>
  </p>

  <% if action_name != "show" %>
    <%= link_to "Show this cookbook", cookbook, class: "rounded-lg py-3 px-5 bg-gray-100 inline-block font-medium" %>
    <%= link_to 'Edit this cookbook', edit_cookbook_path(cookbook), class: "rounded-lg py-3 ml-2 px-5 bg-gray-100 inline-block font-medium" %>
    <hr class="mt-6">
  <% end %>
</div>
