<%= turbo_frame_tag cookbook do %>
  <div>
    <h1 class="my-5 font-bold text-xl">
      <%= cookbook.name %>
    </h1>

    <p class="my-5">
      <%= cookbook.description || "No description yet" %>
    </p>

    <p class="my-5">
      <strong class="block font-medium mb-1">Recipes: (<%= cookbook.recipes.count %>)</strong>
      <%- cookbook.recipes.each do |recipe| %>
        <a href="<%= recipe_path(recipe) %>" class="hover:font-bold"><%= recipe.name %></a>
      <% end %>
    </p>

    <% if action_name != "show" %>
      <%= link_to "Show this cookbook", cookbook, class: "rounded-lg py-3 px-5 bg-gray-100 inline-block font-medium" %>
      <%= link_to 'Edit this cookbook', edit_cookbook_path(cookbook), class: "rounded-lg py-3 ml-2 px-5 bg-gray-100 inline-block font-medium" %>
      <%= button_to 'Delete this cookbook', cookbook_path(cookbook), method: :delete, class: "rounded-lg py-3 ml-2 px-5 bg-red-100 inline-block font-medium" %>

      <hr class="mt-6">
    <% end %>
  </div>
<% end %>